# dependencies
/node_modules

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.*.local
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite
.cache/

# macOS system files
Icon?

# VSCode
.vscode/

# Logs
*.log

# Output of gh-pages
node_modules/.cache/gh-pages/

# Private user access control
src/data/authorized_users.json

# Private papers.json
src/data/papers.private.json
